.mobile_home{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #DAE5F5;
}

.mobile_home > img{
    margin-top:  5vh;
    width: 50vw;
    height: 10vh;
}
.mobile_home > h1,p {
    margin: 0;
    font-weight: 500;
}
.mobile_home_button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 0.5rem;
    margin-top: 5vh;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}
.mobile_home_button>img{
    width: 1.2vw;
    height: 1.2vw;
}